N8N /Workflow/WF-03 — Rogue Device Handler.json
{
  "name": "WF-03 — Rogue Device Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "e3000000-0001-4001-8001-000000000001",
      "name": "Rogue Device Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== WF-03: Kiem tra MAC trong whitelist =====\nconst evt = $('Rogue Device Trigger').first().json;\n\n// >>> Khai dien danh sach MAC da dang ky <<<\nconst MAC_WHITELIST = [\n  'aa:bb:cc:dd:ee:ff',\n];\n\nfunction findMac(o){\n  if(!o) return null;\n  const m = JSON.stringify(o).match(/([0-9a-fA-F]{2}(?::[0-9a-fA-F]{2}){5})/);\n  return m ? m[1].toLowerCase() : null;\n}\n\nconst mac = (evt.mac || evt.message || findMac(evt.raw) || findMac(evt) || '').toLowerCase();\nconst known = MAC_WHITELIST.map(x => x.toLowerCase()).includes(mac);\n\nreturn [{ json: {\n  incident_id: evt.event_id || ('inc-' + Date.now()),\n  incident_type: 'ROGUE_DEVICE',\n  mac: mac || null,\n  src_ip: evt.src_ip || null,\n  site: evt.site || null,\n  switch_port: evt.switch_port || null,  // can query switch/pfSense de xac dinh port\n  status: known ? 'KNOWN' : 'UNKNOWN',\n  action_proposed: 'isolate_device',\n  ansible_playbook: 'isolate_device.yml',\n  raw: evt,\n}}];\n"
      },
      "id": "e3000000-0002-4002-8002-000000000002",
      "name": "Check MAC Whitelist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "KNOWN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KNOWN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "UNKNOWN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UNKNOWN"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "e3000000-0003-4003-8003-000000000003",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        320
      ]
    },
    {
      "parameters": {},
      "id": "e3000000-0004-4004-8004-000000000004",
      "name": "→ Log & bo qua (MAC hop le)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        200
      ]
    },
    {
      "parameters": {},
      "id": "e3000000-0005-4005-8005-000000000005",
      "name": "→ WF-SUB-01: Human Approval (co lap)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        440
      ]
    }
  ],
  "connections": {
    "Rogue Device Trigger": {
      "main": [
        [
          {
            "node": "Check MAC Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MAC Whitelist": {
      "main": [
        [
          {
            "node": "Route by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Status": {
      "main": [
        [
          {
            "node": "→ Log & bo qua (MAC hop le)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ WF-SUB-01: Human Approval (co lap)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
