N8N /Workflow/WF-04 — VPN Tunnel Recovery.json
{
  "name": "WF-04 — VPN Tunnel Recovery",
  "nodes": [
    {
      "parameters": {},
      "id": "f4000000-0001-4001-8001-000000000001",
      "name": "VPN Recovery Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {},
      "id": "f4000000-0002-4002-8002-000000000002",
      "name": "Xac nhan su co: ping 3x (gan Execute Command)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== WF-04: Phan loai nguyen nhan VPN down =====\nconst evt = $('VPN Recovery Trigger').first().json;\nconst blob = JSON.stringify(evt.raw || evt).toLowerCase();\n\nlet cause;\nif (blob.includes('auth') || blob.includes('credential') || blob.includes('config')) {\n  cause = 'AUTH_CONFIG';        // KHONG auto-fix -> hoi admin\n} else if (blob.includes('timeout') || blob.includes('flap') || blob.includes('inactive') || blob.includes('ping')) {\n  cause = 'TIMEOUT_FLAP';       // co the tu restart\n} else {\n  cause = 'TIMEOUT_FLAP';       // mac dinh: thu auto-restart truoc\n}\n\nreturn [{ json: {\n  incident_id: evt.event_id || ('inc-' + Date.now()),\n  incident_type: 'VPN_TUNNEL_DOWN',\n  site: evt.site || null,\n  src_ip: evt.src_ip || null,\n  cause: cause,\n  action_proposed: cause === 'TIMEOUT_FLAP' ? 'restart_vpn' : 'manual_review',\n  ansible_playbook: 'restart_vpn.yml',\n  raw: evt,\n}}];\n"
      },
      "id": "f4000000-0003-4003-8003-000000000003",
      "name": "Classify Cause",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.cause }}",
                    "rightValue": "TIMEOUT_FLAP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TIMEOUT_FLAP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.cause }}",
                    "rightValue": "AUTH_CONFIG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUTH_CONFIG"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "f4000000-0004-4004-8004-000000000004",
      "name": "Route by Cause",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1000,
        320
      ]
    },
    {
      "parameters": {},
      "id": "f4000000-0005-4005-8005-000000000005",
      "name": "→ WF-SUB-02: Auto restart (restart_vpn.yml)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        200
      ]
    },
    {
      "parameters": {},
      "id": "f4000000-0006-4006-8006-000000000006",
      "name": "→ WF-SUB-01: Human Approval (auth/config)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        440
      ]
    }
  ],
  "connections": {
    "VPN Recovery Trigger": {
      "main": [
        [
          {
            "node": "Xac nhan su co: ping 3x (gan Execute Command)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xac nhan su co: ping 3x (gan Execute Command)": {
      "main": [
        [
          {
            "node": "Classify Cause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Cause": {
      "main": [
        [
          {
            "node": "Route by Cause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Cause": {
      "main": [
        [
          {
            "node": "→ WF-SUB-02: Auto restart (restart_vpn.yml)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ WF-SUB-01: Human Approval (auth/config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
