N8N /Workflow/WF-01 — IP Attack Handler.json
{
  "name": "WF-01 — IP Attack Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "b1000000-0001-4001-8001-000000000001",
      "name": "IP Attack Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://192.168.10.1/api/v2/firewall/alias?name=whitelist",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_PFSENSE_API_KEY"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b1000000-0002-4002-8002-000000000002",
      "name": "Get pfSense Whitelist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== WF-01 v2: Whitelist (tu pfSense) + Severity + Decision =====\n// Khong dung AbuseIPDB. Whitelist lay tu pfSense alias.\n\n// Doc event goc\nconst evt = $('IP Attack Trigger').first().json;\n\n// Doc whitelist tu pfSense API (alias \"whitelist\")\nlet whitelistIPs = [];\ntry {\n  const aliasData = $('Get pfSense Whitelist').first().json;\n  // pfSense REST API tra ve alias entries dang array\n  // Co the nam trong .data, .entries, hoac chinh la array goc\n  const entries = aliasData?.data?.entries\n    || aliasData?.data?.address\n    || aliasData?.entries\n    || aliasData?.address\n    || [];\n  if (Array.isArray(entries)) {\n    whitelistIPs = entries.map(e => typeof e === 'string' ? e : (e.address || e.value || ''));\n  }\n} catch(e) {\n  // Neu API loi, fallback ve danh sach co ban (an toan)\n  whitelistIPs = ['192.168.10.1', '192.168.10.2', '192.168.10.30'];\n}\n\n// --- Ham check IP trong whitelist (ho tro CIDR) ---\nfunction ipToLong(ip){\n  return ip.split('.').reduce((a,o)=> ((a<<8) + (parseInt(o,10)&255)) >>> 0, 0) >>> 0;\n}\nfunction inCidr(ip, cidr){\n  if(!cidr || !ip) return false;\n  const c = cidr.toString().trim();\n  if(!c.includes('/')) return ip === c;\n  const [net, bitsStr] = c.split('/');\n  const bits = parseInt(bitsStr,10);\n  if(bits === 0) return true;\n  const mask = (~((1 << (32-bits)) - 1)) >>> 0;\n  return (ipToLong(ip) & mask) === (ipToLong(net) & mask);\n}\n\nconst srcIp = evt.src_ip || null;\nconst isWhitelisted = srcIp && whitelistIPs.some(c => {\n  try { return inCidr(srcIp, c); } catch(e){ return false; }\n});\n\n// --- Tinh severity chi tu Suricata info ---\nconst eventType = (evt.event_type || '').toUpperCase();\nconst inSev = (evt.severity || '').toUpperCase();\n\nlet severity = 'LOW';\nif (eventType === 'BRUTE_FORCE') severity = 'HIGH';\nelse if (eventType === 'IDS_ALERT' && inSev === 'HIGH') severity = 'HIGH';\nelse if (eventType === 'PORT_SCAN') severity = 'MEDIUM';\nelse if (inSev) severity = inSev;\n\n// --- Quyet dinh ---\nlet decision;\nif (isWhitelisted) {\n  decision = 'WHITELISTED';\n} else if (severity === 'HIGH') {\n  decision = 'AUTO_BLOCK';        // Suricata da xac nhan muc do cao -> block thang\n} else if (severity === 'MEDIUM') {\n  decision = 'NEEDS_APPROVAL';    // nghi ngo nhung chua chac -> hoi admin\n} else {\n  decision = 'MONITOR';           // LOW -> theo doi\n}\n\nreturn [{ json: {\n  incident_id: evt.event_id || ('inc-' + Date.now()),\n  timestamp: evt.timestamp || new Date().toISOString(),\n  incident_type: eventType,\n  src_ip: srcIp,\n  dst_ip: evt.dst_ip || null,\n  site: evt.site || null,\n  severity: severity,\n  decision: decision,\n  is_whitelisted: isWhitelisted,\n  whitelist_count: whitelistIPs.length,\n  action_proposed: 'block_ip',\n  ansible_playbook: 'block_ip.yml',\n  raw: evt,\n}}];\n"
      },
      "id": "b1000000-0003-4003-8003-000000000003",
      "name": "Whitelist + Severity + Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "WHITELISTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WHITELISTED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "AUTO_BLOCK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUTO_BLOCK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "NEEDS_APPROVAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEEDS_APPROVAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "MONITOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MONITOR"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "b1000000-0004-4004-8004-000000000004",
      "name": "Route by Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        360
      ]
    },
    {
      "parameters": {},
      "id": "b1000000-0005-4005-8005-000000000005",
      "name": "Log only (whitelisted)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        140
      ]
    },
    {
      "parameters": {},
      "id": "b1000000-0006-4006-8006-000000000006",
      "name": "WF-SUB-02: Auto block",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {},
      "id": "b1000000-0007-4007-8007-000000000007",
      "name": "WF-SUB-01: Human Approval",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        460
      ]
    },
    {
      "parameters": {},
      "id": "b1000000-0008-4008-8008-000000000008",
      "name": "Monitor / Log",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1160,
        620
      ]
    }
  ],
  "connections": {
    "IP Attack Trigger": {
      "main": [
        [
          {
            "node": "Get pfSense Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pfSense Whitelist": {
      "main": [
        [
          {
            "node": "Whitelist + Severity + Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whitelist + Severity + Decision": {
      "main": [
        [
          {
            "node": "Route by Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Decision": {
      "main": [
        [
          {
            "node": "Log only (whitelisted)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF-SUB-02: Auto block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF-SUB-01: Human Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Monitor / Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
