N8N /Workflow/WF-BLOCK-BRUTE — Doc Ban Brute.json
{
  "name": "WF-BLOCK-BRUTE — Doc Ban Brute -> Ansible + Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "e1000000-0001-0000-0000-000000000001",
      "name": "Every 10s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        340
      ]
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/Administrator/.n8n-files/pflogs/BanIP_Bruteforce.txt",
        "options": {}
      },
      "id": "e1000000-0002-0000-0000-000000000002",
      "name": "Read BanIP_Bruteforce",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        360,
        340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "e1000000-0003-0000-0000-000000000003",
      "name": "Extract Ban Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== Doc BanIP_Bruteforce.txt + loc IP MOI (chua goi Ansible) =====\n// Dung static data (session) de nho IP da xu ly -> khong goi/thong bao trung.\n\nconst content = $('Extract Ban Text').first().json.data || '';\nconst ips = content.split('\\n').map(s => s.trim()).filter(s => s);\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.blocked = staticData.blocked || [];\n\nconst newIps = [];\nfor (const ip of ips) {\n  if (!staticData.blocked.includes(ip)) {\n    staticData.blocked.push(ip);\n    newIps.push(ip);\n  }\n}\n\nif (newIps.length === 0) {\n  return [{ json: { no_new_ip: true } }];\n}\n// Moi IP moi -> 1 item; chuan bi ca payload Ansible lan noi dung Telegram\nreturn newIps.map(ip => ({ json: {\n  ip: ip,\n  reason: 'SSH Brute-force detected by n8n analyzer',\n  attack_type: 'BRUTE_FORCE',\n  // Noi dung canh bao Telegram (kich ban 2 yeu cau bao da kenh)\n  telegram_text: `\\u26A0\\uFE0F CANH BAO BAO MAT\\nPhat hien tan cong SSH Brute-force\\nIP tan cong: ${ip}\\nHanh dong: Da tu dong chan IP qua Ansible`,\n}}));\n"
      },
      "id": "e1000000-0004-0000-0000-000000000004",
      "name": "Loc IP Moi (Session)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.no_new_ip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e1000000-0005-0000-0000-000000000005",
      "name": "Khong co IP moi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {},
      "id": "e1000000-0006-0000-0000-000000000006",
      "name": "Dung",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1200,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.10.3:8000/block-ip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Token",
              "value": "n8n-secret-token-123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ip\": \"{{ $json.ip }}\",\n  \"reason\": \"{{ $json.reason }}\"\n}",
        "options": {}
      },
      "id": "e1000000-0007-0000-0000-000000000007",
      "name": "Goi Ansible /block-ip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        420
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "e1000000-0008-0000-0000-000000000008",
      "name": "Block OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        340
      ]
    },
    {
      "parameters": {},
      "id": "e1000000-0009-0000-0000-000000000009",
      "name": "Block Loi",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        500
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $('Loc IP Moi (Session)').item.json.telegram_text }}",
        "additionalFields": {}
      },
      "id": "e1000000-0010-0000-0000-000000000010",
      "name": "Gui Telegram Canh Bao",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        600
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 10s": {
      "main": [
        [
          {
            "node": "Read BanIP_Bruteforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read BanIP_Bruteforce": {
      "main": [
        [
          {
            "node": "Extract Ban Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ban Text": {
      "main": [
        [
          {
            "node": "Loc IP Moi (Session)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loc IP Moi (Session)": {
      "main": [
        [
          {
            "node": "Khong co IP moi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Khong co IP moi?": {
      "main": [
        [
          {
            "node": "Dung",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Goi Ansible /block-ip",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gui Telegram Canh Bao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Goi Ansible /block-ip": {
      "main": [
        [
          {
            "node": "Block OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block Loi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
