N8N /Workflow/WF-SUB-01 — Human Approval Gate.json
{
  "name": "WF-SUB-01 — Human Approval Gate",
  "nodes": [
    {
      "parameters": {},
      "id": "a0100000-0001-4001-8001-000000000001",
      "name": "Approval Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== WF-SUB-01: Build approval message + resume links =====\nconst evt = $('Approval Trigger').first().json;\nconst base = (typeof $execution !== 'undefined' && $execution.resumeUrl) ? $execution.resumeUrl : 'RESUME_URL';\nconst sev = (evt.severity || 'N/A').toString().toUpperCase();\nconst text =\n  `<b>[${sev}] Incident #${evt.incident_id || 'N/A'}</b>\\n` +\n  `Loai: ${evt.incident_type || 'N/A'}\\n` +\n  `IP: ${evt.src_ip || 'N/A'} | Site: ${evt.site || 'N/A'}\\n` +\n  `Hanh dong de xuat: ${evt.action_proposed || 'N/A'}\\n` +\n  `Timeout: 15 phut\\n\\n` +\n  `APPROVE: ${base}?action=approve\\n` +\n  `REJECT:  ${base}?action=reject\\n` +\n  `XEM THEM: ${base}?action=details`;\nreturn [{ json: { ...evt, chat_id: 'YOUR_CHAT_ID', chat_text: text } }];\n"
      },
      "id": "a0100000-0002-4002-8002-000000000002",
      "name": "Build Approval Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        380
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id || 'YOUR_CHAT_ID' }}",
        "text": "={{ $json.chat_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a0100000-0003-4003-8003-000000000003",
      "name": "Send Approval Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "a0100000-0004-4004-8004-000000000004",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        380
      ],
      "webhookId": "approval-resume"
    },
    {
      "parameters": {
        "jsCode": "// ===== Doc lua chon cua admin tu resume webhook (hoac timeout) =====\nconst j = $input.first().json;\nconst action = (j.query && j.query.action) || (j.body && j.body.action) || j.action || 'timeout';\nreturn [{ json: { ...j, action } }];\n"
      },
      "id": "a0100000-0005-4005-8005-000000000005",
      "name": "Read Admin Choice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "details",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "timeout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "a0100000-0006-4006-8006-000000000006",
      "name": "Route by Choice",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1320,
        380
      ]
    },
    {
      "parameters": {},
      "id": "a0100000-0007-4007-8007-000000000007",
      "name": "→ WF-SUB-02: Ansible Execute (approved)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        160
      ]
    },
    {
      "parameters": {},
      "id": "a0100000-0008-4008-8008-000000000008",
      "name": "→ WF-SUB-03: Notify (rejected)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        320
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id || 'YOUR_CHAT_ID' }}",
        "text": "={{ $json.chat_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a0100000-0009-4009-8009-000000000009",
      "name": "Send Details (loop)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1580,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "a0100000-0010-4010-8010-000000000010",
      "name": "→ Escalate + Log pending (timeout)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        640
      ]
    }
  ],
  "connections": {
    "Approval Trigger": {
      "main": [
        [
          {
            "node": "Build Approval Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Message": {
      "main": [
        [
          {
            "node": "Send Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Read Admin Choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Admin Choice": {
      "main": [
        [
          {
            "node": "Route by Choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Choice": {
      "main": [
        [
          {
            "node": "→ WF-SUB-02: Ansible Execute (approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ WF-SUB-03: Notify (rejected)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Details (loop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ Escalate + Log pending (timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Details (loop)": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
